
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Algeria';

}
body{

    background: url(https://ultimahoracol.com/sites/default/files/2023-12/PCOLOMBIANO%20%281%29.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
h1{
    color: #363838 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;


}
p{
    text-align: center;
}
.Convertir{
    background: aquamarine;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;

}
img{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
money{
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    }
.lista{
    padding: 10px 20px 10px 10px;
}
.FORMULARIO{
    width: 90%;
    max-width: 25em;
    background-color: rgb(0, 255, 0);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 5px;

}
p{
    display: block;
    font-weight: 600;

}
input{
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid #A14FCA;
    border-radius: 5px;

    
}
select{
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.svg");
    background-repeat: no-repeat;
    background: #676DFD;

}
select option{
    background-color: #676DFD;
    color: white;
}
button{
    font-size: 1em;
    width: 100%;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    background-color: #676DFD;
    border-color: #676DFD;
    color:#ffffff;
    font-weight: 600;
}
#resultado{
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    background-color:grey;
    padding: 0.8em 0;
}

footer p{
    color: #363838;
    display: flex;
    flex-direction: column;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

